<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Jimmy Schementi</title>

    <script src="jquery-1.4.2.js" type="text/javascript"></script>
    <script src="colorbox/colorbox/jquery.colorbox.js" type="text/javascript"></script>
    <script src="jquery.corner.js" type="text/javascript"></script>
    <script src="jquery.address-1.2.js" type="text/javascript"></script>
    <script src="jquery.jfeed.js" type="text/javascript"></script>
    <script src="jquery.lightbox-0.5.js" type="text/javascript"></script>

    <link type="text/css" media="screen" rel="stylesheet" href="colorbox/example5/colorbox.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="jquery.lightbox-0.5.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="style.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="sticky-footer.css" />
    <!--[if gt IE 7]>
      <link type="text/css" media="screen" rel="stylesheet" href="ie.css" />
    <![endif]-->
    <!--[if !IE 7]>
      <style type="text/css">
        #wrap {display:table;height:100%}
      </style>
    <![endif]-->

    <script type="text/javascript" src="app.js"></script>
    <!--[if gt IE 7]>
      <script type="text/javascript" src="ie.js"></script>
    <![endif]-->
  </head>
  <body id=''>
    
    <div id="wrap">

        <a name="very-top"></a>

        <div id="background">
          <img class="image" alt="" src='' style='display: none' />
        </div>

        <div id="main">

          <div id="header">
            <div id="navigation">
              <%= erb :_navigation, :layout => false %>
              <div class="clear"></div>
            </div>
          </div>
  
          <%= erb :_twitter_status, :layout => false %>
  
          <div id="body">
  
            <div id='home' class='topic' style="display: none">
              <a name="/"></a>
              <%= erb :_home, :layout => false %>
            </div>
  
            <div id="code" class='topic subpage' style="display: none">  
              <a name="/projects"></a>
              <%= erb :_projects, :layout => false %>
            </div>
  
            <div id="writing" class="topic subpage" style="display: none">
              <a name="/writing"></a>
              <%= erb :_writing, :layout => false %>
            </div>
  
            <div id="music" class="topic subpage" style="display: none">
              <a name="/music"></a>
              <%= erb :_music, :layout => false %>
            </div>
  
            <div id="photos" class="topic subpage" style="display: none">
              <a name="/photos"></a>
              <%= erb :_photos, :layout => false %>
            </div>
  
            <div id="art" class="topic subpage" style="display: none">
              <a name="/art"></a>
              <%= erb :_art, :layout => false %>
            </div>
            
            <div id="about" class="topic subpage" style="display: none">
              <a name="/about"></a>
              <%= erb :_about, :layout => false %>
            </div>
  
            <div id="resume" class="topic subpage" style="display: none">
              <a name="/about/resume" title="Jimmy Schementi - Software Developer"></a>
              <%= erb :_resume, :layout => false %>
            </div>
  
          </div>
  
      </div> <!-- #main -->
      
    </div> <!-- #wrap -->
    
    <div id="footer">
      <div class="inside">
        <%= erb :_footer, :layout => false %>
      </div>
    </div>

    <!--
    <script type="text/javascript">
      roundTheWorld();
    </script>
    -->
    
  </body>
</html>
